<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>

    <!-- Baptism Ministry -->
    <section class="page-section pb-5 pt-5 bg-leaves-reverse"  >
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Baptism Ministry</h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-m">
                        The Open Door Believers Chapel baptismal class comprises of 5-6 weeks of 
                        teaching and interactive sessions that seek to:                       
                    </p>
               
                </div>
            
            </div>


            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p style="color: #dc5834;" class="lg-m">

                        •	Explain the basics of the Christian faith to persons who profess faith in Christ 
                        Jesus and who would like to demonstrate this faith through the act of baptism

                        <br><br>
                        
                        •	Make clear to those who are not sure, what it means to be saved by Christ.              
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pb-5 justify-content-center">
                
                <div class="col-lg-6 text-center">

                    <p class="mb-0 lg-m">
                        The classes generally take place on an annual basis between the 
                        months of August and September. The following topics are dealt with each week:                       
                    </p>

                    <p style="color: #dc5834;" class="lg-m">

                        What is Salvation? The story of our Redemption

                        <br><br>
                        
                        The Christian Test 101 - (from Chuck Swindol)   

                        <br><br>
                        
                        Is baptism necessary?

                        <br><br>
                        
                        What is the Lords Supper? 

                        <br><br>
                        
                        An overview of the Church – Where do I fit in?

                        <br><br>
                        
                        How to tell your story/testimony
                    </p>  
               
                </div>

                <div class="col-lg-6 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}