<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry-baptism" id="ministries">
            
        <div class="container px-4 px-lg-5 text-white text-center">

            <span class="ministry-masthead-space"><br/><br/><br/></span>
            <h1 class="larger">Baptism Ministry</h1>

        </div>

    </section>


    <!-- Baptism Ministry -->
    <section class="page-section pb-5 pt-5"  >
        
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-blue pad">

                    <p class="mb-4 lg-p text-blue">
                        The Open Door Believers Chapel baptismal class comprises of 5-6 weeks of 
                        teaching and interactive sessions that seek to:                      
                    </p>

                    <p class="lg-p">

                        <i class="bi bi-bookmark-plus-fill bookmark-fill">
                            <span class="text-blue">
                                Explain the basics of the Christian faith to persons who profess faith in Christ 
                                Jesus and who would like to demonstrate this faith through the act of baptism.
                            </span>
                        </i> 

                    </p>

                    <p class="lg-p">

                        <i class="bi bi-bookmark-plus-fill bookmark-fill">
                            <span class="text-blue">
                                Make clear to those who are not sure, what it means to be saved by Christ. 
                            </span>
                        </i> 
                                   
                    </p>

                    <p class="lg-p">
                        
                        The classes generally take place on an annual basis between the 
                        months of August and September. The following topics are dealt with each week:    

                    </p>
               
                </div>

                <div class="col-lg-5 text-blue pad">

                    <p class="lg-m ">

                        <i class="bi bi-bookmark-plus bookmark-fill">
                            <span class="text-blue">
                                What is Salvation? The story of our Redemption 
                            </span>
                        </i>  
                               
                    </p>

                    <p class="lg-m ">

                        <i class="bi bi-bookmark-plus bookmark-fill">
                            <span class="text-blue">
                                The Christian Test 101 - (from Chuck Swindol)
                            </span>
                        </i>  
                               
                    </p>

                    <p class="lg-m ">

                        <i class="bi bi-bookmark-plus bookmark-fill">
                            <span class="text-blue">
                                Is baptism necessary?
                            </span>
                        </i>  
                               
                    </p>

                    <p class="lg-m ">

                        <i class="bi bi-bookmark-plus bookmark-fill">
                            <span class="text-blue">
                                What is the Lords Supper? 
                            </span>
                        </i>  
                               
                    </p>

                    <p class="lg-m ">

                        <i class="bi bi-bookmark-plus bookmark-fill">
                            <span class="text-blue">
                                An overview of the Church – Where do I fit in?
                            </span>
                        </i>  
                               
                    </p>

                    <p class="lg-m ">

                        <i class="bi bi-bookmark-plus bookmark-fill">
                            <span class="text-blue">
                                How to tell your story/testimony
                            </span>
                        </i>  
                               
                    </p>

                </div>
            
            </div>

        </div>

    </section>


    <!-- Ministry Photo Gallery-->
    <section class="page-section bg-leaves pb-6 pt-0"  >
        
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 pb-5 justify-content-center">

                {% comment %} <div class="col-lg-6 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div> {% endcomment %}

                <div class="col-lg-6 text-center pad pb-5 mb-5">

                    <span class="ministry-image-overlay">

                        <img class="ministry-img-1 img-thumbnail" src="{%static 'odbc/assets/img/ministries/baptism/1.jpeg'%}" alt="pic of who we are">
                        
                        <img class="ministry-img-2 img-thumbnail" src="{%static 'odbc/assets/img/ministries/baptism/2.jpeg'%}" alt="pic of who we are">
                    
                    </span>
               
                </div>

                <div class="col-lg-6 text-center pad pb-5 mb-5">

                    <span class="ministry-image-overlay">

                        <img class="ministry-img-3 img-thumbnail" src="{%static 'odbc/assets/img/ministries/baptism/3.jpeg'%}" alt="pic of who we are">
                        
                        <img class="ministry-img-4 img-thumbnail" src="{%static 'odbc/assets/img/ministries/baptism/4.jpeg'%}" alt="pic of who we are">
                   
                    </span>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}