<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>

    <!-- girls club -->
    <section class="page-section pb-5 pt-5 bg-leaves-reverse"  >
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Camping Ministry</h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 pt-5 pb-0 mb-0 justify-content-center">
                
                <div class="col-lg-10 text-center pad">
                    
                    <p class="mb-4 lg-m">
                        Open Door Camps Ministry gave birth to Open Door Believers Chapel. The Lord led Gordon and 
                        Loretta Soutar to begin a camping ministry in the 1990’s. They were already exposed to this 
                        ministry through the works of Cecelle Cary, Gloria Edwards and, for a greater part, through 
                        Dave Ho’s Teen Time Camps in Jamaica. Through camps, they have reached many young people and 
                        exposed them to the glorious gospel of Jesus Christ. They have seen many give their lives to 
                        the Lord, and many rededicate their lives to the Lord. Both Loretta and Gordon saw these 
                        victories as a confirmation that camps are a powerful ministry to reach others for the Lord.                  
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pb-5 justify-content-center">

                <div class="col-lg-10 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">
                    <br>
                    <p class="mb-4 lg-m">
                        In 1995, the Soutars had their first Christmas Camp. Some believed that no one would come 
                        to a camp that started the second day after Christmas, but the Lord sent over eighty 
                        young people! Gordon and Loretta then established two camps for the year—a summer 
                        camp and a Christmas camp, which later changed to New Years Camp.                 
                    </p>

                    <p class="mb-4 lg-m">
                        Today, the Soutars continue to run camps, and the ODBC camping ministry continues to grow 
                        and thrive. The various camps cater to a wide range of campers, and the whole church gets 
                        involved. ODBC’s five-day summer camp is geared towards young people and evangelism, though 
                        older believers also attend as helpers and campers. The New Years Retreat begins on December 
                        30 and ends on New Year’s Day. This retreat centers around the fellowship of the 
                        believers—church members, their families, and regular attendees.               
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pb-5 justify-content-center">
                
                <div class="col-lg-6 text-center">

                    <p class="lg-m">

                        The younger boys and girls also have a special camping experience. 
                        Each year, the younger boys participate in a campout; they brave the elements 
                        and pitch tents in the great outdoors under the stars. The younger girls also 
                        get together for an annual sleepover (or, rather, slumber party!), a night of 
                        girly fun and friendship. Not to be outdone, the ladies look forward every year 
                        in October to a two-night retreat, which is attended by 100 ladies or more.     

                    </p>
               
                </div>

                <div class="col-lg-6 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-m">

                        The Lord continues to use camping at Open Door Believers Chapel as a time to get apart, 
                        rest and be built up in the Lord. Camping fosters the fellowship of believers, and it 
                        exposes young people to the gospel of Jesus Christ,winning the lost. Therefore, camping 
                        continues to be an integral part of the program at Open Door Believers Chapel.
                 
                    </p>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}