<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry-children" id="ministries">
            
        <div class="container px-4 px-lg-5 text-white text-center">

            <span class="ministry-masthead-space"><br/><br/><br/></span>
            <h1 class="larger">Childrens Ministry</h1>

        </div>

    </section>


    <!-- Childrens Ministry -->
    <section class="page-section pb-5 pt-5"  >
        
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-blue pad">

                    <h1 class="mt-0 h1-add text-center text-blue">ODBC Bible Club</h1>
                    <hr class="divider"/>

                    <p class="lg-p">

                        <i class="bi bi-bookmark-plus-fill bookmark-fill">
                            <span class="text-blue">
                                Our Children’s Bible Clubs introduce children to Jesus through engaging activities, 
                                songs, and prayer. These activities are a great way to bring children together and 
                                allow leaders to build relationships with them.
                            </span>
                        </i> 

                    </p>

                    <p class="mb-4 lg-p text-blue">                        
                        The format of the bible club is simple. The Children will sing a few songs and play a 
                        game and then most importantly, they are presented with God’s word in the form 
                        of a bible story or lesson as well as a memory verse. Bible club ends in the 
                        same fashion as it begins, with a prayer, making every effort to teach the 
                        children reverence for God Children are also given a snack at the end of 
                        each session. Knowing that the word of God shall not return void (Isaiah 55:11) 
                        the children are encouraged to remember the bible verse and are even given 
                        a small incentive for reciting the verse from the previous week. 
                    </p>
               
                </div>

                <div class="col-lg-10 pt-5 text-blue pad">

                    <h1 class="mt-0 h1-add text-center text-blue">Jasmine Street Kids for Jesus Bible Club</h1>
                    <hr class="divider"/>

                    <p class="lg-p">

                        <i class="bi bi-bookmark-plus-fill bookmark-fill">
                            <span class="text-blue">
                                On the last Saturday of March 2011, a new initiative had begun. 
                                Mrs Yvonne Vernon (a member at ODBC) had always felt a burden on 
                                her heart to deliver the word of God to the kids in her neighbourhood 
                                and so, at 3:00 pm that day, the first bible club was held with about 
                                23 children in attendance.  
                            </span>
                        </i> 

                    </p>

                    <p class="mb-4 lg-p text-blue">                        
                        At Jasmine Street Kids for Jesus Bible Club we also reach into the homes of these children by sending 
                        occasional donations of rice, beans and sugar which all come to us by donation 
                        from Mr. Paul Dycke of Blue Creek. This year we have begun bible club with a 
                        new vision in mind – taking the word of God into the homes of children. So in 
                        addition to snacks, and food stuff, we have begun to send home bible-based 
                        literature along with the kids, courtesy Belize Camping experience.   
                    </p>

                    <p class="lg-p">

                        <i class="bi bi-bookmark-plus-fill bookmark-fill">
                            <span class="text-blue">
                                We have grown to having anything from 25 – 50 children on a weekly bases 
                                and we covet your prayers as we reach those kids in the Jasmine Street and ODBC Club for Jesus.   
                            </span>
                        </i> 

                    </p>

                    <p class="lg-p">

                        <i class="bi bi-bookmark-plus-fill bookmark-fill">
                            <span class="text-blue">
                                Helpers: Stella Codd, Alison Gutierrez, Irvin Vernon   
                            </span>
                        </i> 

                    </p>
               
                </div>
            
            </div>

        </div>

    </section>


    <!-- Ministry Photo Gallery-->
    <section class="page-section bg-leaves pb-6 pt-0"  >
        
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 pb-5 justify-content-center">

                {% comment %} <div class="col-lg-6 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div> {% endcomment %}

                <div class="col-lg-6 text-center pad pb-5 mb-5">

                    <span class="ministry-image-overlay">

                        <img class="ministry-img-1 img-thumbnail" src="{%static 'odbc/assets/img/ministries/children/1.jpeg'%}" alt="pic of who we are">
                        
                        <img class="ministry-img-2 img-thumbnail" src="{%static 'odbc/assets/img/ministries/children/2.jpeg'%}" alt="pic of who we are">
                    
                    </span>
               
                </div>

                <div class="col-lg-6 text-center pad pb-5 mb-5">

                    <span class="ministry-image-overlay">

                        <img class="ministry-img-3 img-thumbnail" src="{%static 'odbc/assets/img/ministries/children/3.jpeg'%}" alt="pic of who we are">
                        
                        <img class="ministry-img-4 img-thumbnail" src="{%static 'odbc/assets/img/ministries/children/4.jpeg'%}" alt="pic of who we are">
                   
                    </span>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}