<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>

    <!-- girls club -->
    <section class="page-section pb-5 pt-5 bg-leaves"  >
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Girls Club</h1>
            <hr class="divider"/>
            
            <div class="row gx-4 gx-lg-5 pt-5 pb-5 justify-content-center">
                
                <div class="col-lg-6 text-center">

                    <p class="lg-p">
                        Motto                      
                    </p>

                    <p class="lg-m">

                        As God’s Girl, I pledge to learn to live for Christ in every part of my life; 
                        I commit my mind to knowledge and understanding, my hands to useful skills, 
                        my body to health and purity, my lips to kind and gentle words, and my heart 
                        to helping others in need, using everything we learn to glorify and honor God.  

                    </p>
               
                </div>

                <div class="col-lg-6 text-center">

                    <p class="lg-p">
                        Vision                      
                    </p>
                
                    <p class="lg-m">

                        As God’s Girl, I pledge to learn to live for Christ in every part of my life; 
                        I commit my mind to knowledge and understanding, my hands to useful skills, 
                        my body to health and purity, my lips to kind and gentle words, and my heart 
                        to helping others in need, using everything we learn to glorify and honor God.  

                    </p>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-0 pb-0 justify-content-center">

                <div class="col-lg-6 text-center">

                    <p class="lg-p">
                        Pledge                      
                    </p>

                    <p class="lg-m">

                        As God’s Girl, I pledge to learn to live for Christ in every part of my life; 
                        I commit my mind to knowledge and understanding, my hands to useful skills, 
                        my body to health and purity, my lips to kind and gentle words, and my heart 
                        to helping others in need, using everything we learn to glorify and honor God.  

                    </p>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 pb-5 justify-content-center">

                <div class="col-lg-10 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">
                    <br>
                    <p class="mb-4 lg-m">
                        As leaders of God’s Girls Club, we try to exemplify and live out the command of God given in Titus 2 to teach the younger women what is good.                   
                    </p>

                    <p class="mb-4 lg-m">
                        At ODBC, we have many young girls and older girls in need of Godly guidance, mentoring, and practical everyday teaching. About twenty 
                        five girls meet the first Saturday of each month for different sessions and activities.                 
                    </p>

                    <p class="mb-4 lg-m">
                        As leaders, our hearts yearn to see each young girl grow in the wisdom and love of Jesus. We want to see each young 
                        girl be a woman of noble character, a woman who is faithful, a woman who can provide for her family – a Godly woman.               
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p style="color: #dc5834;" class="mb-4 lg-m">

                        Pray with us as we work for His glory.
                 
                    </p>

                    <p style="color: #dc5834;" class="mb-4 lg-m">

                        Leaders of God’s Girls Club:
                 
                    </p>

                    <p style="color: #dc5834;" class="mb-4 lg-m">

                        Nicole Bembridge, Stasia Scott, Shanika Matura, Kellie Conserve, 
                        Michelle Andrews, Mavrine Wesbey, Shawn Gillett, Charnelle Hyde
                 
                    </p>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}