<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>

    <!-- Mens Ministry -->
    <section class="page-section pb-5 pt-5 bg-leaves"  >
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Mens Ministry</h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 pt-5 pb-5 justify-content-center">
                
                <div class="col-lg-6 text-center">

                    <p class="lg-m">

                        Our monthly men’s ministry is held on the Friday preceding Lord’s Supper at 7:00pm. 
                        This meeting is our disciple training program. Although it is for men, this ministry 
                        is a family effort in every way, as women and wives prepare a hearty meal and a snack. 
                        Our men’s ministry is considered to be one of the most important of all ministries; 
                        therefore, all male members are expected to attend.


                    </p>
               
                </div>

                <div class="col-lg-6 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-m">

                        Each 3-hour session is divided into sections that clearly define 
                        its purpose in fulfilling vital learning experiences for men: 

                    </p>

                    <p style="color: #dc5834;" class="lg-m">

                        1.	For Fellowship

                        <br><br>

                        2.	To Foster:

                        <br>
                            <span class="sl-p text-black">
                                a.	Spontaneous discussion
                                <br>
                                b.	Answer question
                                <br>
                                c.	And encourage shared experiences, and
                            </span>

                        <br><br>

                        3.	To Facilitate Biblical teaching on

                        <br>
                            <span class="sl-p text-black">
                                a.	Relational matters
                                <br>
                                b.	Communal matters
                                <br>
                                c.	Doctrinal matters
                            </span>


                    </p>

                    <p style="color: #dc5834;" class="lg-m">

                        This ministry is headed by our highly trained and experienced leadership team of Elders.

                    </p>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}