<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-ministry">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>

    <!-- Womens Ministry -->
    <section class="page-section pb-5 pt-5 bg-leaves"  >
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Womens Ministry</h1>
            <hr class="divider"/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-p">
                        Sisters Ministry of ODBC                        
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-m">
                        The Sisters Ministry of ODBC started soon after the church was established with a 
                        Retreat for Ladies of the church in Camalote, Cayo. This retreat has become the 
                        highlight of the year as it is now eagerly anticipated by the Ladies of ODBC and 
                        others from as far south as Punta Gorda and as far north as Corozal. The retreat 
                        has become an interdenominational affair as ladies from other churches also attend 
                        and have been doing so for many years. One should not be fooled by the word ‘ladies’ the 
                        retreat is inclusive of all females of any age. Actually this is one of the distinguishing 
                        features of the retreat-an intermingling of the generations of women. At the last retreat, 
                        held in October 2012, there were many examples of three generations of women present – Remarkable.                     
                    </p>

                    <p class="mb-4 lg-m">
                        The Sisters Ministry is designed to create fellowship, bond and support for all the ladies at ODBC. 
                        The Ministry is led by the Ladies Committee, a dynamic team which still boasts three of its original members.                  
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 pb-5 justify-content-center">
                
                <div class="col-lg-6 text-center">

                    <p class="lg-m">

                        The annual retreat is just one of the many events organized by the Ladies Ministry. 
                        The Annual Valentine affair which evolved from a social to an exquisite banquet 
                        is another exciting activity which involves all members of the church. No special 
                        Valentine on Valentines’ day? No problem, there is always the ODBC banquet to attend 
                        which makes everyone feel special and remind us of the ultimate display of love 
                        through our Saviour, Jesus Christ.    

                    </p>
               
                </div>

                <div class="col-lg-6 justify-content-center">
                
                    <!-- Carousel -->
                    <div id="ministries-carousel" class="carousel slide" data-bs-ride="carousel">
    
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
    
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="0" class="active"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="1"></button>
                            
                            <button type="button" data-bs-target="#ministries-carousel" data-bs-slide-to="2"></button>
                        
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner rounded-custom">
    
                            <!-- Photo 1 -->
                            <div class="carousel-item active">
                                
                                <img src="https://dummyimage.com/640x360/aaaa/sss" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo  -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/tttt/aaa" class="d-block w-100">
                        
                            </div>
    
                            <!-- Photo 3 -->
                            <div class="carousel-item">
                                
                                <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                        
                            </div>
    
                        </div>
                           
                    </div>
    
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-m">

                        The Ladies Ministry also organizes baby showers for mothers expecting their first 
                        baby and wedding showers for ladies engaged to be married. These are events where 
                        the wisdom of those who have traveled these roads before are shared, and encouragement 
                        given for the new venture.    

                    </p>

                    <p class="lg-m">

                        The Ladies Ministry is a dynamic organization that thinks outside of the box, so some 
                        of the activities in the past have included Pizza night, Movie night, Christmas socials, 
                        Trips to Chetumal, Games evening, an annual Tea Party, Bring and Buy Sale, Bible Study,
                        Health talks and Health Tests, and Sharing The monthly Ladies’ Meeting takes place at
                        <span style="color: #dc5834;">
                            My Father’s House 33 Central American Blvd Belize City, Belize                
                        </span>   

                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p style="color: #dc5834;" class="mb-4 lg-m">

                        You are all invited (only If you have XX chromosomes) to take some time out to relax 
                        and have fun and fellowship with the sisters of ODBC.
                 
                    </p>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}