.bg-ministry {
  background-image: 
    linear-gradient(
      /* rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45) */
      rgba(7, 32, 79, 0.545), 
      rgba(7, 32, 79, 0.448)
    ),
    linear-gradient(
      /* rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45) */
      rgba(7, 32, 79, 0.848), 
      rgba(7, 32, 79, 0.696)
    ),
    url(../assets/img/ministries/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#ministries {
  border-bottom: 10px solid #eca405;
}

h1.larger {
  font-size: 5rem;
}

@media (max-width: 991px) {
  .bg-ministry {
    margin-top: 6rem;
  }

  .ministry-masthead-space {
    display: none;
  }
}

@media (max-width: 600px) {
  h1.larger {
    font-size: 2.5rem;
  }

}

.ministry-image-overlay {
  position: relative;
  top: 0;
  left: 0;
}

.ministry-img-1 {
  width:100%;
  border-radius: calc(0.25rem - 1px);
  transform: rotate(-2.5deg);
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ministry-img-2 {
  width:75%;
  border-radius: calc(0.25rem - 1px);
  transform: rotate(5deg);
  position: absolute;
  top: 80px;
  left: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ministry-img-3 {
  width:100%;
  border-radius: calc(0.25rem - 1px);
  transform: rotate(2.5deg);
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ministry-img-4 {
  width:75%;
  border-radius: calc(0.25rem - 1px);
  transform: rotate(-5deg);
  position: absolute;
  top: 80px;
  left: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}