<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- About -->
    <section class="page-section bg-about" id="about">
            
        <div class="container px-4 px-lg-5">

            <br/><br/><br/><br/>

            <h1 class="text-white mt-0 h1-add text-center">Who are we?</h1>
            <hr class="divider"/>

            <br/><br/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="real-white mb-4 lg-p">
                        At ODBC, you will find a lively gathering of saints from all backgrounds 
                        and ages, eager to worship our Lord, fellowship with other believers, 
                        and seek the face of God. We strive to create a warm and rich atmosphere 
                        of worship, taking great pride in our music and talents as unto the Lord.                            
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="real-white mb-4 lg-p">
                        When the music fades, however, our hearts and minds thirst only for 
                        the Word of God, longing to receive the timely truths as revealed 
                        by God and imparted by His servants. While we strive to convey 
                        relevant and applicable messages, we uphold the authority of the 
                        Bible and refuse to dilute the fundamental truths of our faith 
                        and the good news of salvation through Jesus Christ.
                    </p>
               
                </div>
        </div>

    </section>

    <section class="page-section bg-light" id="about">
        
        <div class="container px-4 px-lg-5">

            <br/><br/><br/><br/>

            <h1 class="mt-0 h1-add text-center">What we belive</h1>
            <hr class="divider"/>

            <br/><br/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-p">
                        We believe the Bible is God's Word. It is accurate, 
                        authoritative and applicable to our everyday lives.                          
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-p">
                        We believe in one eternal God who is the Creator of all things. 
                        He exists in three Persons: God the Father, God the Son, 
                        and God the Holy Spirit. He is totally loving and completely holy. 
                        The Lord Jesus Christ is both God and man and is the only one 
                        who can reconcile us to God. Each time we partake of communion 
                        we remember Jesus lived a sinless and exemplary life, died on 
                        the cross in our place, and rose again to prove His victory 
                        and empower us for life.                          
                    </p>
               
                </div>
            
            </div>


            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-p">
                        We believe sin has separated each of us from God and His purpose for our lives. 
                        In order to receive forgiveness we must repent of our sins and believe in Jesus Christ. 
                        We believe the Lord Jesus Christ is coming back again as He promised and will rule and 
                        reign on this earth. History will conclude as the wicked are judged and the righteous 
                        enter a new heaven and a new earth.                         
                    </p>
               
                </div>
            
            </div>

        </div>

    </section>


    <!-- Elders -->
    <section class="page-section" id="services">

        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-p">
                        Open Doors Believers Chapel is not a pastor centered church, 
                        we are governed by a body of elders.                         
                    </p>
               
                </div>
            
            </div>

            <h2 class="text-center mt-0">Our Elders</h2>
            <hr class="divider" />
            
            <div class="row">

                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-1.jpg'%}" alt="elder 1" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Daniel<br>Davis</b></p>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-2.jpg'%}" alt="elder 2" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Dwayne<br>Scott</b></p>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-3.jpg'%}" alt="elder 3" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Fernando<br>Williams</b></p>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-4.jpg'%}" alt="elder 4" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Kirkland<br>Smith</b></p>

                        </div>

                    </div>

                </div>


                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-5.jpg'%}" alt="elder 5" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Nomar<br>Bembridge</b></p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock  %}