<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-about" id="about">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>

    <!-- Greetings from our Elders -->
    <section class="page-section pb-5 bg-light" id="about">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Greetings from our Elders</h1>
            <hr class="divider"/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-p">
                        Welcome to Open Door Believers Chapel’s Official Website                         
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-m">
                        Thank you for visiting our website. Whether you are searching for more 
                        information about our assembly, looking for ways to serve in one or 
                        more of our ministries, or seeking answers to questions about the Christian 
                        faith, we pray our online resource aids you along the right course according 
                        to the Lord’s will. We use this online tool as an extension of our commitment 
                        to spread the Gospel, to help our community, and to teach biblical truths.                         
                    </p>
               
                </div>
            
            </div>


            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-0 lg-m">
                        Please take some time to explore our site and to learn more about our 
                        ministries. And if you’re ever in our area, won’t you please join us? 
                        We welcome visitors from near and far and look forward to connecting with you.                      
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-0 lg-m">
                        "I know your deeds. See, I have placed before you an open door that 
                        no one can shut. I know that you have little strength, yet you have 
                        kept my word and have not denied my name."Revelations 3:8                         
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 pad">

                    <br>

                    <p style="color: #dc5834;" class="mb-0 sl-p">
                        In Christ,                       
                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 pad">

                    <p style="color: #dc5834;" class="mb-0 sl-p">
                        
                        -- Gordon “Dickie” Soutar- Pioneer,   
                        Dwayne Scott, Nomar Bembridge, Fernando Williams, 
                        Daniel Davis, Kirkland Smith -- Elders, ODBC    

                    </p>
               
                </div>
            
            </div>

        </div>

    </section>

    <!-- About Us -->
    <section class="page-section pt-5 pb-5" id="about">
    
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">About us</h1>
            <hr class="divider"/>

            <!-- Our Pledge -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-p">
                        Our Pledge                        
                    </p>
               
                </div>
            
            </div>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-m">

                        We pledge, in the name of Jesus Christ our Lord, with God as our Helper, 
                        and the Holy Spirit as our guide,            
                    </p>

                    <p style="color: #dc5834;" class="lg-m">

                        TO encourage the WORSHIP of GOD in the beauty of holiness.

                        <br><br>
                        
                        TO honour and study the WORD of GOD in fear and openness.

                        <br><br>
                        
                        TO maintain the WITNESS of GOD in all righteousness, and

                        <br><br>
                        
                        TO seek the WILL of GOD for maximum effectiveness.                  
                    </p>
                
                </div>
            
            </div>

            <!-- Statement of faith -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-p">
                        Statement of Faith for Governance of the Church                       
                    </p>
               
                </div>
            
            </div>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-m">
                        We believe the Bible is God's Word, without error of any kind. 
                        It is accurate, authoritative and applicable to our everyday lives.
                        We believe every human being is born a sinner, in need of Salvation
                        which comes through Jesus Christ alone, who save us from our sin.

                    </p>
               
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-m">
                        We believe the New Birth or Born Again experience is the only way to 
                        qualify for Heaven. We believe Salvation is possible in this life alone,
                        and it is only through Faith in Christ not works, that we can be saved.
                        We believe that only Jesus can forgive sin. We believe in the security of 
                        the believer in Christ. We believe that the True Church is comprised of
                        Born Again Persons only. We believe that there is One God in three Persons:
                        Father, Son and Holy Spirit.                        
                    </p>
               
                </div>
            
            </div>


            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-0 lg-m">
                        We believe Jesus Christ is God who became human, we believe the Holy Spirit 
                        Saves, Seals, Sanctifies, equips, enables and encourages the believers in Christ. 
                        We believe once truly saved, then saved. We believe Jesus is coming for His True 
                        Church anytime soon (The Rapture). We believe Jesus is coming WITH His Church to 
                        establish His Millennial Kingdom                       
                    </p>
               
                </div>
            
            </div>


        </div>

    </section>

    <!-- Our Ministries -->
    <section class="page-section bg-dark text-white" id="about">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt--1 h1-add text-center">Our Ministries</h1>
            <hr class="divider"/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <!-- Carousel -->
                <div id="demo" class="carousel slide" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">

                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>

                        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>

                        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>

                        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
                    
                    </div>
                
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">

                        <!-- Mens Ministry -->
                        <div class="carousel-item active">
                            
                            <img src="https://dummyimage.com/640x360/aaaa/rrr" class="d-block w-100">
                    
                        </div>

                        <!-- Womens Ministry -->
                        <div class="carousel-item">
                            
                            <img src="https://dummyimage.com/640x360/bbbb/hhh" class="d-block w-100">
                    
                        </div>

                        <!-- Girls Club -->
                        <div class="carousel-item">
                            
                            <img src="https://dummyimage.com/640x360/cccc/yyy" class="d-block w-100">
                    
                        </div>

                        <!-- Bible Cbub -->
                        <div class="carousel-item">
                            
                            <img src="https://dummyimage.com/640x360/dddd/nnn" class="d-block w-100">
                    
                        </div>

                        <!-- Camp -->
                        <div class="carousel-item">
                            
                            <img src="https://dummyimage.com/640x360/eeee/jjj" class="d-block w-100">
                    
                        </div>

                        <!-- V.B.S -->
                        <div class="carousel-item">
                            
                            <img src="https://dummyimage.com/640x360/gggg/aaa" class="d-block w-100">
                    
                        </div>

                    </div>
                
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">

                    <span class="carousel-control-prev-icon"></span>

                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">

                    <span class="carousel-control-next-icon"></span>

                    </button>

                </div>

            </div>

        </div>

    </section>


    <!-- Elders -->
    <section class="page-section pb-1 bg-light" id="services">

        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="mb-4 lg-p">
                        Open Doors Believers Chapel is not a pastor centered church, 
                        we are governed by a body of elders.                         
                    </p>
               
                </div>
            
            </div>

            <h2 class="text-center mt-0">Our Elders</h2>
            <hr class="divider" />
            
            <div class="row justify-content-center">

                <!--Daniel Davis -->
                <div class="col-lg-3 mb-4 text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-1.jpg'%}" alt="elder 1" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Daniel<br>Davis</b></p>

                        </div>

                    </div>

                </div>

                <!--Dwayne Scott -->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-2.jpg'%}" alt="elder 2" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Dwayne<br>Scott</b></p>

                        </div>

                    </div>

                </div>

                <!--Fernando Williams -->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-3.jpg'%}" alt="elder 3" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Fernando<br>Williams</b></p>

                        </div>

                    </div>

                </div>

                <!--Kirkland Smith -->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-4.jpg'%}" alt="elder 4" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Kirkland<br>Smith</b></p>

                        </div>

                    </div>

                </div>

                <!--Nomar Bembridge-->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-5.jpg'%}" alt="elder 5" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Nomar<br>Bembridge</b></p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- Our Pioneer -->
    <section class="page-section pt-5 pb-5" id="services">

        <div class="container px-4 px-lg-5">

            <h2 class="text-center mt-0">Our Pioneer</h2>
            <hr class="divider" />

            <div class="row justify-content-center">

                <!-- Gordon “Dickie” Soutar- Pioneer -->
                <div class="col-lg-3 mb-4 text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-1.jpg'%}" alt="elder 1" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Gordon “Dickie”<br>Soutar</b></p>

                          <p class="mb-0"><b>Pioneer</b></p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock  %}