<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-about" id="about">
            
        <div class="container px-4 px-lg-5 text-white text-center">

            <span class="about-masthead-space"><br/><br/><br/></span>
            <h1 class="larger">About Us</h1>

        </div>

    </section>


    <!-- Our Pledge -->
    <section class="page-section mt-4 pt-5 pb-5">
        
        <div class="container px-4 px-lg-5">
          
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-5 text-center text-blue pad">
                    
                    <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Our Pledge</span></h1>
                    <hr class="divider"/>

                    <p class="lg-p">
                        We pledge, in the name of Jesus Christ our Lord, with God as our Helper, and the Holy Spirit as our guide,
                        
                        <span class="sl-p-reg">
                            <b>TO</b> encourage the <span class="pledge-main-text">Worship of GOD</span><br/>in the beauty of holiness.

                            <br>
                            
                            <b>TO</b> honour and study the <span class="pledge-main-text">Word of GOD</span><br/>in fear and openness.

                            <br>
                            
                            <b>TO</b> maintain the <span class="pledge-main-text">Witness of GOD</span><br/>in all righteousness, and

                            <br>
                            
                            <b>TO</b> seek the <span class="pledge-main-text">Will of GOD</span><br/>for maximum effectiveness.
                        </span>
                    </p>
               
                </div>

                <div class="col-lg-5 text-center pad pb-5 mb-5">

                    <span class="pledge-image-overlay">

                        <img class="pledge-img-1 img-thumbnail" src="{%static 'odbc/assets/img/about/we-are-odbc/about-1.jpeg'%}" alt="pic of who we are">
                        
                        <img class="pledge-img-2 img-thumbnail" src="{%static 'odbc/assets/img/about/we-are-odbc/about-2.jpeg'%}" alt="pic of who we are">
                    
                    </span>
               
                </div>
                        
            </div>

        </div>

    </section>


    <!-- Aniversary Banner -->
    <section class="index-page-section bg-anniversary pt-5 pb-5">

        <div class="row gx-4 gx-lg-5 mt-0 pt-0 justify-content-center">
                
            <div class="col-lg-10 text-center">

                <p class="lg-p-anniversary text-white">

                    CELEBRATING

                </p>

                <h1 class="h1-color-1">25 Years of Service</h1>

                <p class="lg-p-anniversary text-white">

                    September 10th, 2023 marks <br/> <b>25 Years of Service</b> <br/> 
                    Don't miss out as we celebrate this memorable milestone!

                </p>
           
            </div>
        
        </div>

    </section>


    <!-- Statement of Faith for Governance of the Church -->
    <section class="page-section bg-leaves mt-5 pt-5">
    
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Statement of Faith for Governance of the Church</span></h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-blue pad">

                    <p class="lg-p">
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe the Bible is God's Word, without error of any kind. It is accurate, authoritative and applicable to our everyday lives.</span>
                        </i> 
                        
                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe every human being is born a sinner, in need of Salvation which comes through Jesus Christ alone, who save us from our sin.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe the New Birth or Born Again experience is the only way to qualify for Heaven.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe Salvation is possible in this life alone, and it is only through Faith in Christ not works, that we can be saved. We believe that only Jesus can forgive sin.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe in the security of the believer in Christ.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe that the True Church is comprised of Born Again Persons only.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe that there is One God in three Persons: Father, Son and Holy Spirit.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe Jesus Christ is God who became human, we believe the Holy Spirit Save, Seals, Sanctifies, Equips, Enables and Encourages the believers in Christ.</span>
                        </i>  

                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe once truly saved, then saved.</span>
                        </i>                          

                        <br/><br/>

                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe Jusus is coming for His True Church anytime soon (The Rapture).</span>
                        </i>  
                        
                        <br/><br/>
                        
                        <i class="bi bi-bookmark-plus-fill faith-Statement">
                            <span class="text-blue">We believe Jusus is coming WITH His Church to establish His Millennial Kingdom.</span>
                        </i> 
                    </p>
               
                </div>
            
            </div>

        </div>

    </section>
    

    <!-- Elders -->
    <section class="page-section pb-1 bg-gradient pt-5 pb-5">

        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <div class="col-lg-10 text-center text-white pad">

                    <p class="mb-4 lg-p">
                        Open Doors Believers Chapel is not a pastor centered church, 
                        we are governed by a body of elders.                         
                    </p>
               
                </div>
            
            </div>

            <h2 class="text-center text-white mt-0">Our Elders</h2>
            <hr class="divider" />
            
            <div class="row justify-content-center">

                <!--Daniel Davis -->
                <div class="col-lg-3 mb-4 text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-1.jpg'%}" alt="elder 1" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Daniel<br>Davis</b></p>

                        </div>

                    </div>

                </div>

                <!--Dwayne Scott -->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-2.jpg'%}" alt="elder 2" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Dwayne<br>Scott</b></p>

                        </div>

                    </div>

                </div>

                <!--Fernando Williams -->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-3.jpg'%}" alt="elder 3" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Fernando<br>Williams</b></p>

                        </div>

                    </div>

                </div>

                <!--Kirkland Smith -->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-4.jpg'%}" alt="elder 4" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Kirkland<br>Smith</b></p>

                        </div>

                    </div>

                </div>

                <!--Nomar Bembridge-->
                <div class="col-lg-3  text-center">

                    <div class="card">

                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-5.jpg'%}" alt="elder 5" style="width:100%">

                        <div class="card-container">

                          <p class="mb-0"><b>Nomar<br>Bembridge</b></p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <!-- Pioneer -->
    <section class="page-section bg-leaves-reverse pb-1 pt-5 pb-2" id="pioneer">

        <div class="container px-4 px-lg-5">

            <h2 class="text-center text-blue mt-0">Our Pioneer</h2>
            <br/>
            
            <div class="row justify-content-center" id="pioneer">

                <!-- Gordon “Dickie” Soutar- Pioneer -->
                <div class="col-lg-4-mod-3 mb-5 text-center">
        
                    <div class="card">
        
                        <img class="card-img" src="{%static 'odbc/assets/img/elders/elder-1.jpg'%}" alt="elder 1" style="width:100%">
        
                        <div class="card-container">
        
                            <p class="mb-0"><b>Gordon “Dickie”<br>Soutar</b></p>
        
                            <p class="mb-0"><b>Pioneer</b></p>
        
                        </div>
        
                    </div>
        
                </div>

                <div class="col-lg-8 mb-4 text-center text-blue">
        
                    <p class="sl-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                        quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                        sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                        recusandae alias error harum maxime adipisci amet laborum.odit,
                        tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                        quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                        sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                        recusandae alias error harum maxime adipisci amet laborum.
                    </p>
        
                </div>
        
            </div>

            <hr class="pioneer-divider" />

    </section>

    <!-- Pioneer's Journey -->
    <section class="page-section pb-1 pt-0 mt-0 pb-0" id="pioneer">

        <div class="container px-4 px-lg-5">
            
            <div class="row justify-content-center" id="pioneer">

                <!-- Gordon “Dickie” Soutar- Pioneer -->
                <div class="col-lg-6 mb-4 text-center vertical-center">
        
                    <h2 class="text-center text-blue mt-0">His Journey</h2>
        
                </div>

                <div class="col-lg-6 text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g"></iframe>
               
                </div>
        
            </div>

    </section>

{% endblock  %}