<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-announce">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>


    <!-- Events -->
     <section class="page-section" id="events">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Upcoming Events</h1>
            <hr class="divider"/>

            <br/><br/>
            
            {% if odbc_events%}

                {% for odbc in odbc_events%}

                    <div class="row mb-4 gx-4 gx-lg-5 justify-content-center bg-light event-col">
                    
                        <div class="col-lg-3 text-center">
        
                            <img class="events-img" src="{{odbc.event_image.url}}">
        
                        </div>
        
                        <div class="col-lg-9">
        
                            <div>
        
                                <h2>{{ odbc.event_title}}</h2>
                                <p class="sl-p">
                                    {{ odbc.event_date}} CST
                                </p>
        
                                <p class="sl-p">
                                    {{ odbc.event_description}}
                                </p>
        
                            </div>
        
                        </div>
                    
                    </div>

                {% endfor %}

            {% else %}

                <div class="row pt-5 mb-4 gx-4 gx-lg-5 justify-content-center bg-light event-col">
                    
                    <div class="col-lg-6 text-center">

                        <p center="sm-p">There are no upcoming events</p>

                    </div>
                
                </div>

            {% endif %}

        </div>

    </section>

{% endblock  %}