<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead-->
    <header class="masthead">

        <div class="container px-4 px-lg-5 h-100">

            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">

                <div class="col-lg-8-homepage-logo align-self-end">

                    <h1 class="real-white">OPEN DOORS BELIVERS CHAPEL ANNOUNCEMENTS AND NEWS</h1>

                    <hr class="divider"/>

                </div>

                <div class="col-lg-8 align-self-baseline">

                    <br/><br/><br/><br/>

                    <p class="text-white-75 mb-5 lg-p">
                        Open Doors Believers Chapel is a local church for the entire family. 
                        We make sure there is something for everyone, because we know the
                        importance of being connected. No one should ever be forced to be alone,
                        so we create spaces of togetherness.
                    </p>

                    <a class="btn btn-primary btn-xl" href="#events">UPCOMING EVENTS</a>

                </div>

            </div>

        </div>

    </header>


    <!-- Events -->
     <section class="page-section" id="events">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Upcoming Events</h1>
            <hr class="divider"/>

            <br/><br/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center bg-light event-col">
                
                <div class="col-lg-3 text-center">

                    <img class="events-img" src="{% static 'odbc/assets/img/events/cantata.jpg' %}">

                </div>

                <div class="col-lg-9">

                    <div>

                        <h2>ODBC Cantata</h2>
                        <p class="sm-p">
                            December #th 2022 10:00 am CST
                        </p>

                        <p class="sm-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec mollis risus non rutrum suscipit. Mauris eu felis 
                            turpis. Morbi sodales, dolor a lobortis posuere, metus 
                            orci tincidunt magna, vel vehicula tortor dui eu nibh. 
                        </p>

                    </div>

                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center event-col-none"></div>

            <div class="row gx-4 gx-lg-5 justify-content-center bg-light event-col pad">
                
                <div class="col-lg-3 text-center">

                    <img class="events-img" src="{% static 'odbc/assets/img/events/cantata.jpg' %}">

                </div>

                <div class="col-lg-9">

                    <div>

                        <h2>ODBC Cantata</h2>
                        <p class="sm-p">
                            December #th 2022 10:00 am CST
                        </p>

                        <p class="sm-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec mollis risus non rutrum suscipit. Mauris eu felis 
                            turpis. Morbi sodales, dolor a lobortis posuere, metus 
                            orci tincidunt magna, vel vehicula tortor dui eu nibh. 
                        </p>

                    </div>

                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center event-col-none"></div>

            <div class="row gx-4 gx-lg-5 justify-content-center bg-light event-col pad">
                
                <div class="col-lg-3 text-center">

                    <img class="events-img" src="{% static 'odbc/assets/img/events/cantata.jpg' %}">

                </div>

                <div class="col-lg-9">

                    <div>

                        <h2>ODBC Cantata</h2>
                        <p class="sm-p">
                            December #th 2022 10:00 am CST
                        </p>

                        <p class="sm-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec mollis risus non rutrum suscipit. Mauris eu felis 
                            turpis. Morbi sodales, dolor a lobortis posuere, metus 
                            orci tincidunt magna, vel vehicula tortor dui eu nibh. 
                        </p>

                    </div>

                </div>
            
            </div>
        </div>

    </section>

{% endblock  %}