<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead -->
    <section class="page-section bg-announce">
            
        <div class="container px-4 px-lg-5">

            <div class="col-lg-8-homepage-logo align-self-center">

                <img class="homepage-logo" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">

            </div>

        </div>

    </section>


    <!-- Events -->
     <section class="page-section" id="events">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center">Upcoming Events</h1>
            <hr class="divider"/>

            <br/><br/>
            
            <div class="row gx-4 gx-lg-5 justify-content-center bg-light event-col">
                
                <div class="col-lg-3 text-center">

                    <img class="events-img" src="{% static 'odbc/assets/img/events/default.jpg' %}">

                </div>

                <div class="col-lg-9">

                    <div>

                        <h2>ODBC default</h2>
                        <p class="sl-p">
                            December #th 2022 10:00 am CST
                        </p>

                        <p class="sl-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec mollis risus non rutrum suscipit. Mauris eu felis 
                            turpis. Morbi sodales, dolor a lobortis posuere, metus 
                            orci tincidunt magna, vel vehicula tortor dui eu nibh. 
                        </p>

                    </div>

                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center event-col-none"></div>

            <div class="row gx-4 gx-lg-5 justify-content-center bg-light event-col pad">
                
                <div class="col-lg-3 text-center">

                    <img class="events-img" src="{% static 'odbc/assets/img/events/default.jpg' %}">

                </div>

                <div class="col-lg-9">

                    <div>

                        <h2>ODBC default</h2>
                        <p class="sl-p">
                            December #th 2022 10:00 am CST
                        </p>

                        <p class="sl-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec mollis risus non rutrum suscipit. Mauris eu felis 
                            turpis. Morbi sodales, dolor a lobortis posuere, metus 
                            orci tincidunt magna, vel vehicula tortor dui eu nibh. 
                        </p>

                    </div>

                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center event-col-none"></div>

            <div class="row gx-4 gx-lg-5 justify-content-center bg-light event-col pad">
                
                <div class="col-lg-3 text-center">

                    <img class="events-img" src="{% static 'odbc/assets/img/events/default.jpg' %}">

                </div>

                <div class="col-lg-9">

                    <div>

                        <h2>ODBC default</h2>
                        <p class="sl-p">
                            December #th 2022 10:00 am CST
                        </p>

                        <p class="sl-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec mollis risus non rutrum suscipit. Mauris eu felis 
                            turpis. Morbi sodales, dolor a lobortis posuere, metus 
                            orci tincidunt magna, vel vehicula tortor dui eu nibh. 
                        </p>

                    </div>

                </div>
            
            </div>
        </div>

    </section>

{% endblock  %}