<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Open Door Believers Chapel Website" />
    <meta name="keywords" content="ODBC, odbc, odbcbelize, odbcbelize.org, open door believers chapel belize, open door belivers chapel, church, belize, Belize, belize churches, Churches in belize, churches in belize">
    <meta name="author" content="Open Door Believers Chapel" />
    <meta http-equiv="refresh" content="600">

    <title>Open Door Believers Chapel</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{%static 'odbc/assets/site-logo.png'%}"/>

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{%static 'odbc/css/styles.css'%}" rel="stylesheet" />

    <!-- Using css files based on view -->
    {% if style_name == 'about' %}

        <!-- about page stylesheet -->
        <link href="{%static 'odbc/css/about.css'%}" rel="stylesheet" />

    {% elif style_name == 'announcements' %}

        <!-- anouncements/new page stylesheet -->
        <link href="{%static 'odbc/css/anouncements-news.css'%}" rel="stylesheet" />

    {% endif %}
    
</head>

    <body id="page-top">

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            
            <div class="container px-4 px-lg-5">

                <a class="navbar-brand" href="{% url 'index' %}">ODBC</a>
                
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#portfolio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Ministries
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                              <a class="dropdown-item nav-dropdown-item-text" href="#" id="nav-dropdown-item-1">Mens Ministry</a>
                              <a class="dropdown-item nav-dropdown-item-text" href="#" id="nav-dropdown-item-2">Womens Ministry</a>
                              <a class="dropdown-item nav-dropdown-item-text" href="#" id="nav-dropdown-item-3">Girls Club</a>
                              <a class="dropdown-item nav-dropdown-item-text" href="#" id="nav-dropdown-item-4">Bible Club</a>
                              <a class="dropdown-item nav-dropdown-item-text" href="#" id="nav-dropdown-item-5">Camp</a>
                              <a class="dropdown-item nav-dropdown-item-text" href="#" id="nav-dropdown-item-6">V.B.S</a>

                            </div>

                        </li>
                        
                        <li class="nav-item"><a class="nav-link" href="#thisweek">Latest</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Announcements / News</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>

                </div>

            </div>

        </nav>



        {% block  body_block%}
        <!-- Anything outside this will be inherited by other html files if extented-->
        {% endblock  %}
    
        


        <!-- Contact us -->
        <section class="contact-page-section bg-dark text-white" id="contact">
            
            <div class="container px-4 px-lg-5">
                
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    
                    <div class="col-lg-6 text-center pad">

                        <h1 class="mb-4">Join us this weekend...</h1>
                        <hr class="divider"/>

                        <p class="text-white-75 mb-4 lg-p">

                            <br/>
                            <span class="sm-p">FOR INFORMATION AND UPDATES, CONTACT US AT <span class="phone">+501 ###-####</span></span>

                            <br/><br/>
                            Join us at Muhammed Ali Street, Belize City this Sunday at
                            11:00am where we will have an encouraging message, a life
                            changing worship experience and an amazing atmosphere you 
                            will never want to leave!
                        </p>

                        <a class="btn btn-primary btn-xl" href="https://goo.gl/maps/8s1kQSUY8Tg2Jo2m6">GET DIRECTIONS</a>
                   
                    </div>

                    <div class="col-lg-6 text-center">
                       
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.351284580366!2d-88.20054154908397!3d17.490736687957977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5c5957c5a05609%3A0x6f17fe916ebef599!2sOpen%20Door%20Believers&#39;%20Chapel!5e0!3m2!1sen!2sbz!4v1666998652849!5m2!1sen!2sbz" 
                        width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                   
                    </div>
                
                </div>

                <br/></br></br>

                <div class="row gx-4 gx-lg-5 justify-content-center">

                    <div class="col-lg-6 pad">

                        <h1 class="mb-4 text-center">...Or Join us on zoom this Wednesday!</h1>
                        <hr class="divider"/>

                        <div class="text-center">

                            <p class="sl-p">

                                Zoom Meeting ID: 423 574 5002
                                <br/>
                                Zoom Passcode: 1peter
    
                            </p>

                            <a class="btn btn-secondary btn-xl" href="https://us02web.zoom.us/j/4235745002?pwd=Rmh3UWFPeWxMWkpNQmtkSjlVVFUvQT09">Join Live!</a>
                        
                            <p>
                                <span class="sm-p text-center" style="color: #dc5834;"> Wednesdays at 7:00pm CST</span>
                            </p>

                        </div>

                        <p>

                            <ul class="text-white-75 sl-p">
                                <li>Observe or participate in our online bible studies from anywhere!</li>
                                <li>We use the "Zoom" platform.</li>
                                <li>Come as you are, turn your video and mic on of off.</li>
                                <li>Just listen or participate as much as you want</li>
                                <li>Everyone is welcome!</li>
                            </ul>

                        </p>
                   
                    </div>

                    <div class="col-lg-6 text-center">
                       
                        <img style="width: 100%; border-radius: 20px;" src="{%static 'odbc/assets/img/contact/bg-zoom.png'%}">
                   
                    </div>
                
                </div>
            </div>

            <br/><br/>

        </section>
        

        <!-- Footer-->
        <footer class="bg-primary py-5 justify-content-center">

            <div class="row gx-4 gx-lg-5">
                
                <div class="col-lg-12 text-center">

                    <a class="btn btn-dark btn-xl" href="https://www.facebook.com/opendoorbelieverschapel" style="color: #4d6cbb;;"><li class="fa fa-facebook"></li></a>
                    <a class="btn btn-dark btn-xl" href="https://www.youtube.com/c/OpenDoorBelieversChapel" style="color: #FF0000;"><li class="fa fa-youtube"></li></a>
                    <a class="btn btn-dark btn-xl" href="https://vimeo.com/odbcbelize" style="color:#45bbff;"><li class="fa fa-vimeo"></li></a>
                
                </div>
            
            </div>

            <div class="row gx-4 gx-lg-5">

                <div class="col-lg-12 small text-center">
                    <br/>
                    Open Door Believers Chapel EST.####
                
                </div>
            
            </div>

        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{%static 'odbc/js/scripts.js'%}"></script>
    </body>

</html>