<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead-->
    <header class="masthead" id="home">
    </header>


    <!-- About -->
    <section class="page-section mt-4 pt-5 pb-5" id="about">
        
        <div class="container px-5 px-lg-5">

            <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Greetings from</span> <span class='h1-color-1'> our Elders</span></h1>
            <hr class="divider"/>
            
            <div class="row gx-4 gx-lg-5 mt-0 pt-0 text-blue justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-p-thin">
                        Greeting form all the elders at ODBC! Whether you are searching for more information about our assembly, 
                        looking for ways to serve in one or more of our ministries, or seeking answers to questions about the Christian 
                        faith, we pray our online resource aids you along the right course according to the Lord’s will.
                    </p>

                    <p class="lg-p-thin">
                        We meet on <b>Sundays at 11am</b>, to worship in person at #5 Muhammed Ali Street, Belize City and also online.
                    </p>

                    <a class="btn btn-primary btn-xl" style="color: #07204F;" href="{% url 'about' %}">Read more</a>
               
                </div>
            
            </div>
        </div>

    </section>


    <!-- This week at ODBC -->
    <section id="thisweek" class="index-page-section bg-gradient mt-4 pt-5">
        
        <div class="container px-4 px-lg-5">

            <h1 class="text-center text-white"><span>This Week</span> <span> at ODBC</span></h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">

                <div class="col-lg-6 text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g"></iframe>
               
                </div>

                <div class="col-lg-6 text-center">

                    <p class="lg-p text-white">

                        As we gather in-person or watch online, we want to make sure 
                        you have access to all the information you may need to connect
                        and learn at Open Doors Believers Chapel. We want to make the 
                        viewing experience as simple as possible.Every week you can 
                        check back here for our latest sunday message!

                    </p>

                    <a class="btn btn-warning btn-xl" href="https://www.youtube.com/c/OpenDoorBelieversChapel">Find US ON YOUTUBE</a>

                    <a class="btn btn-info btn-xl" href="https://vimeo.com/odbcbelize">FIND US ON VIMEO</a>

                    <a class="btn btn-light btn-xl" href="https://goo.gl/maps/8s1kQSUY8Tg2Jo2m6">Join Us in person</a>
               
                </div>
            
            </div>

        </div>

    </section>


    <!-- ministries -->
    <section class="page-section mt-0 pt-3 pb-5 bg-light" id="about">
        
        <div class="container px-0 px-lg-0">

            <br/><br/>

            <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Ministries</span></h1>
            <hr class="divider"/>

            <div class="ministries-row gx-4 gx-lg-5 pt-3 justify-content-center">

                <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">Camping Ministry</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div>

                <!-- Baptism Ministry-->
                {% comment %} <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">Baptism Ministry</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div> {% endcomment %}

                <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">Children's Ministry</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div>

                <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">God's Girls Club</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div>

                <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">Men's Ministry</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div>

                <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">Mentorship Ministry</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div>

                <div class="ministries-card mx-3 my-3" style="width: 25rem; height:12.5rem;">

                    <img src="{% static 'odbc/assets/img/ministries/girls-club.jpeg' %}" class="ministries-card-img-top" alt="...">

                    <div class="ministries-card-body">

                      <p class="ministries-card-title">Women's Ministry</p>
                      <hr class="ministries-title-divider"/>

                      <p class="ministries-card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      <a href="#" class="ministries-card-text">Read More</a>

                    </div>

                </div>
                
            </div>

        </div>

    </section>


    <!-- Aniversary Banner -->
    <section class="index-page-section bg-anniversary pt-5 pb-5">

        <div class="row gx-4 gx-lg-5 mt-0 pt-0 justify-content-center">
                
            <div class="col-lg-10 text-center">

                <p class="lg-p-anniversary text-white">

                    CELEBRATING

                </p>

                <h1 class="h1-color-1">25 Years of Service</h1>

                <p class="lg-p-anniversary text-white">

                    September 10th, 2023 marks <br/> <b>25 Years of Service</b> <br/> 
                    Don't miss out as we celebrate this memorable milestone!

                </p>
           
            </div>
        
        </div>

    </section>


    <!-- latest messages -->
    <section class="index-page-section  bg-leaves mt-4 pt-5 pb-5">
        
        <div class="container px-4 px-lg-5">

            <h1 class="text-dark h1-add text-center text-white"><span class="h1-color-2">Latest Sermons</span></h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">

                <div class="col-lg-4-mod text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g&index=2"></iframe>
               
                </div>

                <div class="col-lg-4-mod-2 text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g&index=3"></iframe>
               
                </div>

                <div class="col-lg-4-mod-last text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g&index=4"></iframe>
               
                </div>

                <div class="col-lg-10 text-center pad">
                    
                    <a style="color: #07204F;" class="btn btn-primary btn-xl" href="https://www.youtube.com/@OpenDoorBelieversChapel">Watch more</a>
               
                </div>
            
            </div>

        </div>

    </section>

{% endblock  %}