<!DOCTYPE html>

{% extends 'odbc/base.html' %}

{% load static %}

{% block body_block %}

    <!-- Masthead-->
    <header class="masthead">

        <div class="container px-4 px-lg-5 h-100">

            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">

                <div class="col-lg-8-homepage-logo align-self-end">

                    <img class="homepage-logo animate-left" src="{%static 'odbc/assets/img/home/bg-logo.png'%}" alt="open door believers chapel logo">
                    <br/><br/><br/><br/>

                </div>

                <div class="col-lg-8 align-self-baseline">

                    <p class="text-white head-lg-p">
                        "I know your deeds. See, I have placed before you an open door that no one can shut..."

                        <br>

                        <span style="font-size:0.75em;">Rev 3:8</span>
                    </p>

                    <a class="btn btn-xl btn-outline-primary animate-bottom" href="#about">Watch our latest sermon <span class="bi bi-youtube yt-icon"></span></a>

                </div>

            </div>

        </div>

    </header>


    <!-- About -->
    <section class="page-section mt-0" id="about">
        
        <div class="container px-5 px-lg-5">

            <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Greetings from</span> <span class='h1-color-1'> our Elders</span></h1>
            <hr class="divider divider-light"/>
            
            <div class="row gx-4 gx-lg-5 mt-0 pt-0 justify-content-center">
                
                <div class="col-lg-10 text-center pad">

                    <p class="lg-p-thin">
                        Greeting form all the elders at ODBC! Whether you are searching for more information about our assembly, 
                        looking for ways to serve in one or more of our ministries, or seeking answers to questions about the Christian 
                        faith, we pray our online resource aids you along the right course according to the Lord’s will.
                    </p>

                    <p class="lg-p-thin">
                        We meet on <b>Sundays at 11am</b>, to worship in person at #5 Muhammed Ali Street, Belize City and also online.
                    </p>

                    <a class="btn btn-primary btn-xl" href="{% url 'about' %}">Read more</a>
               
                </div>
            
            </div>
        </div>

    </section>


    <!-- This week at ODBC -->
    <section class="index-page-section bg-gradient pt-5">
        
        <div class="container px-4 px-lg-5">

            <h1 class="text-dark h1-add text-center text-white"><span>This Week</span> <span> at ODBC</span></h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">

                <div class="col-lg-6 text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g"></iframe>
               
                </div>

                <div class="col-lg-6 text-center">

                    <p class="lg-p text-white">

                        As we gather in-person or watch online, we want to make sure 
                        you have access to all the information you may need to connect
                        and learn at Open Doors Believers Chapel. We want to make the 
                        viewing experience as simple as possible.Every week you can 
                        check back here for our latest sunday message!

                    </p>

                    <a class="btn btn-warning btn-xl" href="https://www.youtube.com/c/OpenDoorBelieversChapel">JOIN US ON YOUTUBE</a>

                    <a class="btn btn-info btn-xl" href="https://vimeo.com/odbcbelize">FIND US ON VIMEO</a>
               
                </div>
            
            </div>

        </div>

    </section>


    <!-- latest messages -->
    <section class="index-page-section mb-5 pb-5">
        
        <div class="container px-4 px-lg-5">

            <h1 class="text-dark h1-add text-center text-white"><span class="h1-color-2">We have a<span class="h1-color-1"> vast collection </span>of sermons for you to</span><span class="h1-color-1"> check out</span><span class="h1-color-2">:</span></h1>
            <hr class="divider"/>

            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">

                <div class="col-lg-4-mod text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g&index=2"></iframe>
               
                </div>

                <div class="col-lg-4-mod-2 text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g&index=3"></iframe>
               
                </div>

                <div class="col-lg-4-mod-last text-center videoWrapper">
                   
                    <iframe frameborder="0" src="https://www.youtube.com/embed?listType=playlist&list=UUWhmF4nEnEkra19DIWoZb8g&index=4"></iframe>
               
                </div>

                <div class="col-lg-10 text-center pad">
                    
                    <a class="btn btn-primary btn-xl" href="{% url 'about' %}">Watch more</a>
               
                </div>
            
            </div>

        </div>

    </section>


    <!-- Our Work -->
    <section class="index-page-section bg-gradient-2 pt-5">
        
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 pt-5 pb-5 justify-content-center">

                <div class="col-lg-10 text-center">

                    <p class="lg-p text-white">

                        Whatever you do, work at it with all your heart, working for the Lord, not for human masters, 
                        since you know that you will receive an inheritance from the Lord as a reward. It is the Lord Christ you are serving. 

                    </p>

                    <p class="lg-p text-white">

                        Colossians 3:23-24

                    </p>
               
                </div>
            
            </div>

        </div>

    </section>

    <section class="index-page-section mt-5 pt-5">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Our</span> <span class='h1-color-1'> Work</span></h1>
            <hr class="divider"/>

        </div>

    </section>
    <div id="portfolio">

        <div class="container-fluid p-0">

            <div class="row g-0 justify-content-center">

                <div class="col-lg-4 col-sm-6">

                    <a class="portfolio-box" href="{% static 'odbc/assets/img/ministries/mens-ministry.jpeg' %}" title="Project Name">

                        <img class="img-fluid" src="{% static 'odbc/assets/img/ministries/mens-ministry.jpeg' %}" alt="..." />

                        <div class="portfolio-box-caption">

                            <div class="project-category text-white-50">Category</div>

                            <div class="project-name">Project Name</div>

                        </div>

                    </a>

                </div>
                
            </div>

        </div>
        
    </div>


    <!-- Upcoming Events -->
    <section class="index-page-section bg-leaves" id="thisweek">
        
        <div class="container px-4 px-lg-5">

            <h1 class="mt-0 h1-add text-center"><span class='h1-color-2'>Upcoming</span> <span class='h1-color-1'> Events</span></h1>
            <hr class="divider"/>

            {% if odbc_events%}

                {% for odbc in odbc_events%}

                    <div class="row mb-4 gx-4 gx-lg-3 justify-content-center">
                    
                        <div class="col-lg-2 col-lg-2-custom text-center events-img">
        
                            <img class="events-img" src="{{odbc.event_image.url}}">
        
                        </div>

                        <div class="col-lg-5 event-col bg-light vr-line">
        
                            <div>
        
                                <span class="lg-p h1-color-2">{{ odbc.event_title}}</span>
                                <p class="sl-p h1-color-1">
                                    {{ odbc.event_date}} - {{ odbc.event_time}} CST
                                </p>
        
                                <p class="sl-p">
                                    {{ odbc.event_description}}
                                </p>
        
                            </div>
        
                        </div>
                    
                    </div>

                {% endfor %}

            {% else %}

                <div class="row  pt-4 mb-4 gx-4 gx-lg-5 justify-content-center bg-light event-col-none">
                    
                    <div class="col-lg-6 text-center">

                        <p center="sm-p">There are no upcoming events</p>

                    </div>
                
                </div>

            {% endif %}

        </div>

    </section>

{% endblock  %}